<!-- <h2>My 1st Angular Application</h2> -->
<!-- <app-employee></app-employee> -->
<!-- <app-student></app-student> -->
<!-- <app-string-interpolation></app-string-interpolation> -->
<!-- <app-property-binding></app-property-binding> -->
<!-- <app-style-binding></app-style-binding> -->
<!-- <app-task1></app-task1> -->
<!-- <app-class-binding></app-class-binding> -->
<!-- <app-event-binding></app-event-binding> -->
<!-- <app-dollar-event></app-dollar-event> -->
<!-- <app-template-ref-variable></app-template-ref-variable> -->
<!-- <app-change-event></app-change-event> -->
<!-- <app-keyboard-event></app-keyboard-event> -->
<!-- <app-two-way-binding></app-two-way-binding> -->
<!-- <app-structural-directive></app-structural-directive> -->
<!-- <app-for-directive></app-for-directive> -->
<!-- <app-switch-directive></app-switch-directive> -->
<!-- <app-task-one></app-task-one> -->
<!-- <app-task3></app-task3> -->
<!-- <app-task4></app-task4> -->
<!-- <app-task5></app-task5> -->
<!-- <app-task6></app-task6> -->
<!-- <app-task7></app-task7> -->
<!-- <app-task2></app-task2> -->
<!-- <app-task8></app-task8> -->
<!-- <app-task9></app-task9> -->
<!-- <app-task10></app-task10> -->
<!-- <app-parent></app-parent> -->
<!-- <app-inbuildpipe></app-inbuildpipe> -->
<app-course></app-course>