<p>keyboard-event works!</p>
<!-- 
    1.keyup event->occur when key released
    2.keydown->occur when key pressed
    We can use on any HTML Tag
    Mostly used on input box,radio button,dropdpwn

 -->

 <input type="text" placeholder="keyup event" (keyup)="onKeyUp()">
 <br><br>
 <input type="text" placeholder="keydown event" (keydown)="onKeyDown()">

 <!-- 
    Real Time Implementation
    Linkedin->Messaging->If we enter data>160 then character exceeds maximum limit,keyboard event is used
  -->
  