<p>dollar-event works!</p>
<!-- 
    It is Special Variable given by Angular
    It gives current DOM Element Information
    You can apply on any HTML Tag
    It gives a JSON Object of current DOM element
    You can access only data but you can not manipulate that data
    In Component Integration it mostly used
     
    Disadvantage:You can access data but you can not manipulate that data
 -->

 <!-- 
    DOM->Document Object Model
    Whatever data is rending on your HTML Page is called Document.
    In that Document there are various HTML Elements.
    By using HTML Element we can create Object.
    And by using that Object we can access Model is called DOM

    DOM Elements->HTML Element/Web Element

    DOM Structure->
    Root-Node/Root-Tag->Sub-Node(head) or (body)
    head->Sub-Node
    body->Sub-Node
  -->

  <button value="Dollar-Event" (click)="onClick($event)">Dollar Event</button>
  